.reviews {
  display: flex;
  justify-content: space-between;
}

.list {
  max-width: 600px;
  width: 100%;
  text-align: right;
}

@media (max-width: 750px) {
  .reviews {
    flex-wrap: wrap;
  }

  .list {
    text-align: start;
  }
}
